@import url("reset.css");
@import url("variaveis.css");
@import url("header.css");
@import url("footer.css");


main { 
  background-color: var( --light-theme-fundo);
  font-family: var(--font-family-inter);
}

.div-categorias{
  margin-top: 2em;
  margin-bottom: 1em;
  padding: 3em;
  background-color: var(--light-theme-verde);
}

.div-categorias-inicio{
  text-align: center;
  align-items: center;
}

.div-categorias-img {
  font-weight: bold;
  width: 40%;
}

.div-categorias-h1 {
  color: var(--branco);
  font-weight: bold;
}

.div-categorias-label-padrao {
  font-family: var(--font-family-inter);
  font-weight: bold;
  margin-bottom: 1%;
  margin-left: 1%;
  padding-top: 1em;
  color: var(--branco);
}

.label-padrao {
  font-family: var(--font-family-inter);
  font-weight: bold;
  margin-bottom: 1%;
  margin-left: 1%;
}

.select-padrao {
  background-color: var(--branco);
}

.div-questao-repostas {
  padding-right: 2em;
  padding-left: 2em;
}

.div-questao{
  padding-bottom: 1em;
}

.div-respostas{
  padding-bottom: 1em;
}

.input-padrao-questao {
  border-color: var(--cinza);
  font-family: var(--font-family-inter);
}

.input-padrao-respostas {
  border-color: var(--cinza);
  font-family: var(--font-family-inter);
}
