@import url("reset.css");
@import url("variaveis.css");
@import url("header.css");
@import url("footer.css");

main {
    background-color: var(--light-theme-verde);
    font-family: var(--font-family-inter);
    padding: 0.5em;
}

/* Seção Botões Funcionalidades */

#divBotoesSecao {
    margin-top: 2em;
    margin-bottom: 1em;
    padding-top: 3em;
    text-align: center;
    align-items: center;
}

.divBotoes {
    text-align: center;
    align-items: center;
}

.btnDivSecao {
    background-color: var(--light-theme-laraja);
    border: none;
    color: var(--branco);
    width: 150px;
    height: 100px;
    border-radius: 2px;
    font-size: 16px;
    margin-bottom: 3.1em; 
    margin-top: 1em;
    font-weight: bold;
    margin-right: 0.5em;
}

.btnDivSecao:hover {
    background-color: var(--light-theme-btn-hover);
}

.label-padrao {
    font-family: var(--font-family-inter);
    font-weight: bold;
    margin-bottom: 1%;
    margin-left: 1%;
}

.div-form-padrao {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 10%;
    margin-right: 10%;
}

.input-padrao {
    border-color: var(--cinza);
    font-family: var(--font-family-inter);
}

#input_dadosPessoasCpf:disabled {
    background-color: var(--branco);
    color: var(--cinza)
}

#divDadosPessoais {
    margin-top: 2em;
    padding-top: 2em;
}

#divDadosPessoais h2 {
    text-align: center;
    font-family: var(--font-family-inter);
    font-weight: bold;
}

.btn-padrao {
    background-color: var(--light-theme-laraja);
    padding: 0.5em;
    border: none;
    color: var(--branco);
    width: 150px;
    border-radius: 2px;
    font-size: 16px;
    margin-bottom: 3.1em;
    font-weight: bold;
}

.btn-padrao:hover {
    background-color: var(--light-theme-btn-hover);
}

/* Seção Dados Pessoais */

.div-card {
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 0.2em;
    border-top: none;
    border-bottom: 100px;
    box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.2);
}

.div-btn-collapes{
    background-color: var(--light-theme-verde);
}

.btn-collapes{
    font-family: var(--font-family-inter);
    color: var(--branco);
    font-weight: bold;
}

.div-collapes-info {
    background-color: var(--branco);
}

