@import url("reset.css");
@import url("variaveis.css");
@import url("header.css");
@import url("footer.css");


main { 
  margin-top: 2%;
  background-color: var(--light-theme-verde-claro);
  font-family: var(--font-family-inter);
}

#div-geral {
  background-color: var(--light-theme-fundo);
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
  border: 1px solid var(--cinza-fundo); /* Adiciona a borda */
  border-radius: 10px; /* Define a borda arredondada */
  box-shadow: 0 4px 8px var(--cinza-fundo); /* Adiciona uma sombra */
}

.div-categorias{
  border-top: 1px solid var(--cinza-fundo); /* Adiciona a borda */
  border-top-left-radius: 10px; /* Define a borda arredondada */
  border-top-right-radius: 10px; /* Define a borda arredondada */
  margin-bottom: 1em;
  padding: 3em;
  background-color: var(--light-theme-verde);
}

.div-categorias-inicio{
  text-align: center;
  align-items: center;
}

.div-categorias-img {
  font-weight: bold;
  width: 40%;
}

.div-categorias-h1 {
  color: var(--branco);
  /* font-weight: bold; */
}

.div-categorias-label-padrao {
  font-family: var(--font-family-inter);
  /* font-weight: bold; */
  margin-bottom: 1%;
  margin-left: 1%;
  padding-top: 1em;
  color: var(--branco);
}

.label-padrao {
  font-family: var(--font-family-inter);
  font-weight: bold;
  margin-bottom: 1%;
  margin-left: 1%;
}

.select-padrao {
  background-color: var(--branco);
}

.div-questao-repostas {
  padding-right: 2em;
  padding-left: 2em;
}

.div-questao{
  padding-bottom: 2em;
}

.div-respostas{
  padding-bottom: 2em;
}

.input-padrao-questao {
  border-color: var(--light-theme-verde);
  font-family: var(--font-family-inter);
}

.input-padrao-respostas {
  border-color: var(--light-theme-verde);
  font-family: var(--font-family-inter);
}

.btn-padrao {
    background-color: var(--light-theme-laraja);
    padding: 0.5em;
    border: none;
    color: var(--branco);
    width: 150px;
    border-radius: 2px;
    font-size: 16px;
    margin-bottom: 3.1em;
    font-weight: bold;
    margin: 1em;
}