@import url("variaveis.css");

footer {
  margin-bottom: 0;
  left: 0;
  bottom: 0;
  background: var(--light-theme-verde);
  text-align: center;
  align-items: center;
  font-family: var(--font-family);
  z-index: 1;
  width: 100%;
  letter-spacing: 1px;
}

.footer-row {
  padding: 2em;
  width: 100%;
}

.info-footer {
  letter-spacing: 0.5px;
  text-align: center;
  padding-top: 1rem;
}

.container-footer  {
  display: flex;
  justify-content: center;
}

.endereco-footer {
  letter-spacing: 0.5px;
  font-size: 13px;
  text-align: center;
  padding-top: 1rem;
}

footer a {
  font-weight: bold;
  color: var(--branco);
}

footer a:hover {
  font-weight: bold;
  color: var(--light-theme-btn-hover);
}

@media screen and (min-width: 768px) {
  .footer-row {
    padding: 1em 8em 0 8em;
  }

  .sac-footer {
    text-align: justify;
  }
}

@media screen and (min-width: 1024px) {
}
