@import url("variaveis.css");

footer {
  position: absolute; 
  margin-bottom: 0;
  bottom: 0;
  z-index: -1;
  background: var(--preto);
  width: 100%;
}

.sac-footer {
  text-align: center;
  text-align: -webkit-match-parent;
}

.sac-footer a {
  text-decoration: none;
}

.sac-footer a b {
  color: white;
}

.footer-row {
  padding: 2em;
}

.container-footer {
  display: flex;
  flex-direction: column-reverse;
  gap: 1rem;
}

.logo-footer {
  padding-top: 1em;
}

.endereco-footer {
  letter-spacing: 0.5px;
  font-size: 13px;
  font-family: var(--font-family-sans-serif);
  text-align: center;
  padding-top: 1rem;
}

@media screen and (min-width: 768px) {
  .footer-row {
    padding: 2em 8em 0 8em;
  }

  .container-footer {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .sac-footer {
    text-align: justify;
  }
}

@media screen and (min-width: 1024px) {
}
