@import url("reset.css");
@import url("variaveis.css");
@import url("header.css");
@import url("footer.css");

/*  Main */

/*  Home */

main {
  flex: 1;
  background-color: var(--light-theme-fundo);
  /* position: absolute; */
  font-family: var(--font-family);
  margin: none;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.home-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-theme-verde);
}

.home-container {
  display: flex;
  background-color: var(--light-theme-verde);
  margin-top: 1em;
}

.home-simulado {
  flex: 1;
  text-align: center;
  margin-top: 1em;
  color: var(--branco);
  margin-left: 4rem;
}

.home-simulado h2 {
  margin: 2.5em 0 1.5em 0;
  font-weight: bold;
}

.home-simulado p {
  margin: 0 1em;
  font-size: 20px;
}

.btn-simulado {
  background-color: var(--light-theme-laraja);
  padding: 0.5em;
  border: none;
  color: var(--branco);
  width: 150px;
  border-radius: 2px;
  font-size: 20px;
  margin-bottom: 3.1em;
  font-weight: bold;
}

.btn-simulado:hover {
  background-color: var(--light-theme-btn-hover);
}

.img-home-meninalaptop {
  flex: 1.3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-meninalaptop-home {
  margin-left: 51%;
  margin-top: 4em;
  position: absolute;
  /* top: 0; */
  left: 1em;
  width: 40%;
  z-index: 1;
}

/*  Home */

/*  Sobre */
.sobre-container {
  display: flex;
  text-align: center;
  background-color: var(--light-theme-fundo);
}

.titulo-explicacao-enade {
  margin-top: 11vh;
  text-align: center;
  font-weight: bold;
}

.paragrafos-explicacao-enade {
  font-size: 15px;
  text-align: justify;
  margin: 1em 15em;
}

.titulo-div-links {
  margin-top: 1em;
  text-align: center;
}

.paragafros-div-links {
  text-align: center;
  font-size: 15px;
  margin: 2em 15em;
}
/*  Sobre */

/*  Creditos */
.creditos-container {
  display: flex;
  text-align: center;
  background-color: var(--light-theme-fundo);
}

.creditos-explicacao {
  width: 100%;
}

.titulo-creditos {
  margin-top: 3.5vh;
  text-align: center;
  font-weight: bold;
}

.paragrafos-links-creditos {
  text-align: center;
  font-size: 15px;
  margin: 2em 5em;
}

.btn-creditos-fatec {
  background-color: var(--light-theme-laraja);
  padding: 0.5em;
  border: none;
  color: var(--branco);
  width: 150px;
  border-radius: 1px;
  font-size: 20px;
  font-weight: bold;
}

.btn-creditos-fatec:hover {
  background-color: var(--light-theme-btn-hover);
}

.creditos-img-logo {
  margin: auto;
  justify-items: center;
}

.paragrafos-creditos {
  font-size: 15px;
  text-align: center;
}

.creditos-img-cps {
  width: 10%;
}
/*  Creditos */

/*  Main */
@media (max-width: 768px) {
  /* Estilos para telas menores que 768px */

  .home-container {
    flex-direction: column;
  }

  .home-simulado {
    margin-top: 0;
  }

  .img-home-meninalaptop {
    flex: 1;
  }

  .img-meninalaptop-home {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    left: 0;
    right: 0;
    width: 80%;
  }
}

@media (max-width: 480px) {
  /* Estilos para telas menores que 480px */

  .home-simulado h2 {
    margin: 1.5em 0;
  }

  .home-simulado p {
    font-size: 18px;
  }

  .btn-simulado {
    width: 120px;
    font-size: 18px;
    margin-bottom: 1em;
  }
}
