@import url("reset.css");
@import url("variaveis.css");
@import url("header.css");
@import url("footer.css");

main {
    background-color: var(--light-theme-fundo);
    font-family: var(--font-family-inter);
    letter-spacing: 1px;
    flex: 1;
    padding: 2em 0;
}

#div-resultados-texto {
    margin-left: 1em;
    margin-right: 1em;
}

#div-resultados-texto h2 {
    font-weight: bold;
}

.div-tabela td,
.div-tabela th {
    border: 10px;
    border-color: var(--preto);
}

/* Estilo para linha correta */
.correta {
    background-color: var(--verde-transparente)
}

/* Estilo para linha incorreta */
.incorreta {
    background-color: var(--vermelho-transparente)
}