@import url("reset.css");
@import url("variaveis.css");
@import url("header.css");
@import url("footer.css");

main {
    background-color: var(--light-theme-verde);
    font-family: var(--font-family-inter);
    letter-spacing: 1px;
    padding: 1em 0;
    margin: 0;
}
.div-container{
    font-family: var(--font-family-inter);
    letter-spacing: 1px;
    border: 2px solid none;
    border-radius: 10px;
    background-color: var(--light-theme-fundo);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2em;
    margin: 4em;
    margin-bottom: 0;
}

.div-container h2{
    color: var(--light-theme-verde)
}
#div-resultados-texto {
    margin-left: 1em;
    margin-right: 1em;
}

#div-resultados-texto h2 {
    font-weight: bold;
}

.correta {
    background-color: var(--verde-transparente)
}

.incorreta {
    background-color: var(--vermelho-transparente)
}

.chart-container {
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 800px;
    height: 520px; */
    width: 100%;
    height: 100%;
}

.div-grafico-1 {
    width: 30%;
    height: 40%;
    padding-bottom: 2em;
}

.div-grafico-2 {
    width: 50%;
    height: 50%;
}