@import url("variaveis.css");

body {
    margin: 0;
    padding: 0;
}

#titulo {
    font-family: var(--font-family);
    color: #fff;
    font-size: 20px;
}

label {
    font-size: 16px;
}

.textbox {
    margin-top: 20px;
    margin-bottom: 20px;
    border-style: hidden;
    border-bottom: 1px solid var(--light-theme-verde);
    height: 25px;
    width: 98%;
}

.botao {
    background: #2e294e;
    border: 1px solid var(--light-theme-verde);
    border-radius: 10px;
    padding: 20px;
    color: #ffffff;
    display: inline-block;
    font-family: font(--font-family);
    font: normal bold 16px/1;
    text-align: center;
    margin-top: 20px;
    width: 120px;
    text-decoration: none;
    margin-bottom: 10px;
}

main {
    height: 100%;
    margin-bottom: 32.6vh;
    background-color: var(--light-theme-fundo);
}

#botao {
    text-align: center;
}

#depois {
    text-align: center;
    background-color: var(--light-theme-btn);
}

form {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 80px;
}