<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="imagem/png" href="{{ url_for('static', filename='img/logoEnade.png')}}" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base_questoes.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="{{ url_for('static', filename='js/funçoes.js') }}"> </script>
    {% block titulo %}
    {% endblock %}
</head>

{% block body %}
{% endblock %}
<div class="progress">
    {% block progressbar %}
    {% endblock %}
</div>
<div class="container">
    <div class="text-center">
        <h1 class="font-weight-bold corEnade">Simulado ENADE</h1>
    </div>
    <div id="timer" class="text-center">00:00:00</div>
    <br><br>
    {% block questao %}
    {% endblock %}
    <p>
        {{ questoes.descricaoQuestao }}
    </p>
    <p>
        <form action='/salvar_resposta' method="post">
            <input type="hidden" name="id_questao" value="{{ questoes.codQuestao }}">
            <input id="alt1A" name="resposta" value="{{ respostas[0].descricaoResposta }}" type="radio">
            <label for="alt1A">
                a) {{ respostas[0].descricaoResposta }}
            </label>
            <p>
                <input id="alt1B" name="resposta" value="{{ respostas[1].descricaoResposta }}" type="radio">
                <label for="alt1B">
                    b) {{ respostas[1].descricaoResposta }}
                </label>
            </p>
            <p>
                <input id="alt1C" name="resposta" value="{{ respostas[2].descricaoResposta }}" type="radio">
                <label for="alt1C">
                    c) {{ respostas[2].descricaoResposta }}
                </label>
            </p>
            <p>
                <input id="alt1D" name="resposta" value="{{ respostas[3].descricaoResposta }}" type="radio">
                <label for="alt1D">
                    d) {{ respostas[3].descricaoResposta }}
                </label>
            </p>
            <p>
                <input id="alt1E" name="resposta" value="{{ respostas[4].descricaoResposta }}" type="radio">
                <label for="alt1E">
                    e) {{ respostas[4].descricaoResposta }}
                </label>
            </p>

        <div id="display"></div>
        <hr>
        <div class="row">
            <a class="col-auto mr-auto" href="{{ url_for('resultado') }}"> Finalizar Simulado</a>
            {% block proximaQuestao %}
            <button id="btn-proxima-questao" class="btn btn-dark btn-md" type="submit">Próxima Questao</button>
            {% endblock %}
        </div>
    </form>

    <footer class="text-center">
        <hr />
        <br />
        <p>
            <em>Fonte: As questões desse simulado foram obtidas na prova de ADS
                disponibilizada no site do INEP.</em>
        </p>
        <p>
            <i>Mais informações sobre o Enade, consultar o site no link:
                <a target="_blank" href="http://enade.inep.gov.br/enade/#!/index">
                    Enade Inep
                </a>
            </i>
        </p>
        <p>
            <a href="http://www.fateccarapicuiba.edu.br/" target="blank">
                <img src="{{ url_for('static', filename='img/Fatec.png') }}" alt="Logo da Fatec" />
            </a>
            <a href="https://www.cps.sp.gov.br/" target="blank">
                <img src="{{ url_for('static', filename='img/cropped-logo-cps.png') }}" alt="Logo da CPS" width="93"
                    height="58" />
            </a>
        </p>
    </footer>
</div>
<script>
    // Função para verificar se alguma opção foi selecionada
    function verificarResposta() {
        var opcoes = document.getElementsByName('resposta');
        var algumaSelecionada = false;

        for(var i = 0; i < opcoes.length; i++) {
            if(opcoes[i].checked) {
                algumaSelecionada = true;
                break;
            }
        }

        if(!algumaSelecionada) {
            Swal.fire({
                title: 'Atenção!',
                text: 'Por favor, selecione uma opção antes de prosseguir.',
                icon: 'warning',
                confirmButtonText: 'OK'
            });
        }

        return algumaSelecionada;
    }

    // Adicionando evento de clique ao botão
    document.getElementById('btn-proxima-questao').addEventListener('click', function(event) {
        if (!verificarResposta()) {
            event.preventDefault(); // Impede que o formulário seja enviado
        }
    });
</script>

<script>
    function startTimer(duration, display) {
        var timer = duration, hours, minutes, seconds;
        setInterval(function () {
            hours = parseInt(timer / 3600, 10);
            minutes = parseInt((timer % 3600) / 60, 10);
            seconds = parseInt(timer % 60, 10);

            hours = hours < 10 ? "0" + hours : hours;
            minutes = minutes < 10 ? "0" + minutes : minutes;
            seconds = seconds < 10 ? "0" + seconds : seconds;

            display.textContent = hours + ":" + minutes + ":" + seconds;

            if (--timer < 0) {
                timer = 0;
            }
        }, 1000);
    }

    window.onload = function () {
        fetch('/get_time')
        .then(response => response.json())
        .then(data => {
            var duration = data.time_left;
            var display = document.querySelector('#timer');
            startTimer(duration, display);
        });
    };
</script>
</body>

</html>