<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Respostas</title>
</head>
<body>
    <form action="" method="post">
        <input type="text" name="descricaoResposta" placeholder="Descricao Resposta">
        <label for="checkTrue">Opção:</label>
        <input type="checkbox" id="respostaCorreta" name="respostaCorreta">
        <input type="text" name="questao_id" placeholder="Questao ID">
        <input type="submit" value="Cadastrar">
    </form>
</body>
</html>

