<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="imagem/png" href="img/brazil.png" />
    <link rel="stylesheet" href="css/creditos.css">
    <title>Créditos</title>
</head>
<body>
    <div class="container">
        <h1 id="titulo">Créditos</h1>
        <p><b>Prova do Simulado:</b><br>  Obtido no site do Inep, todos os direitos autorais reservados ao Inep - Instituto Nacional de Estudos e Pesquisas Educacionais Anísio Teixeira, para obter mais informações <a href="https://download.inep.gov.br/educacao_superior/enade/provas/2014/40_tecnologia_analise_desenv_sistemas.pdf"> Clique Aqui</a> </p>

        <p> <b> <a href="http://www.fateccarapicuiba.edu.br/analise-e-desenvolvimento-de-sistemas/">ADS:</a></b><br>Curso de Análise e Desenvolvimento de Sistemas da Fatec Carapicuíba</p>
       
        
    
        <p><b>Autores:</b><br>
            OLIVEIRA, Agatha <br>
            OLIVEIRA, Ana <br>
            SILVEIRA, Daniel <br>
            SILVA, João <br>
            MENDES, Midian <br>
        </p>
           <p> Alunos do 1º semestre cursando a disciplina de <b>PMI</b> - Programação em Microinformática sob orientação da: <br></p>
    
           <p><b>ORIENTADORA:</b> <br>Profª MSC FELIX, Rita</p>
         <div class="container-img"> 
            <div class="imagem-logo" alt="">
                <a href="http://www.fateccarapicuiba.edu.br/" target="blank"><img src="img/logo-fatec.png" alt=""></a>
            </div>

            <div class="imagem-logo" alt="">
                <a href="https://www.cps.sp.gov.br/" target="blank"><img src="img/centroPaula.png" alt=""></a>
            </div>
        </div>
        
        <div class="container-simulado">
            <a href="index_e.html"><button class="btn-prox">Página Inicial</button></a>
        </div>
    </div>
    <footer>
        <p>Estas informações foram obtidas através das provas do ENADE divulgadas no site do Inep mais informações consultar: <a href="https://www.gov.br/inep/pt-br/areas-de-atuacao/avaliacao-e-exames-educacionais/enade" target="blank">SITE do INEP</a></p><br>
        <p><a href="http://www.fateccarapicuiba.edu.br/" target="blank">FATEC CARAPICUIBA | </a> <a href="http://www.fateccarapicuiba.edu.br/analise-e-desenvolvimento-de-sistemas/" target="blank">Tecnologia Análise e Desenvolvimento Sistemas</a></p><br>
    </footer>
</body>
</html>