<!DOCTYPE html>
<!-- A tag DOCTYPE é a primeira linha do documento HTML. 
Ele informa ao navegador qual versão de HTML o documento está escrito, para que o navegador saiba o que esperar. -->
<html lang="PT-BR">
<!-- O atributo HTML lang é usado para identificar o idioma do conteúdo do texto que será exibido pelo navegador -->

<head>
  <!-- head é a parte que não é exibida no navegador da Web quando a página é carregada. 
    Ele contém informações como a página <title>, links para CSS (se você escolher estilizar seu conteúdo HTML com CSS),
       e outros metadados (dados sobre o HTML, como o autor, 
       e palavras-chave importantes que descreva o documento.) -->
  <meta charset="UTF-8">
  <!-- Este atributo declara a codificação de caracteres do documento. 
   Se o atributo estiver presente, seu valor deve ser uma correspondência ASCII sem distinção 
   entre maiúsculas e minúsculas para a string "utf-8", porque UTF-8 é a única codificação válida para documentos HTML5. -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- links do logo do enade -->
  <link rel="icon" type="imagem/png" href="img/logoEnade.png" />
  <!-- links para CSS (estilização seu conteúdo HTML com CSS) -->
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <!-- A tag <title> em HTML é usada para definir o título do documento HTML. 
      Ele define o título na barra de ferramentas do navegador e fornece o título da página
      da web quando ela é adicionada aos favoritos. -->
  <title>Gabarito</title>
</head>

<body class="fundo1">
  <div class="container text-center">

    <h2 class="corEnade">
      Gabarito Simulado Enade - ADS 2011
    </h2>
    <table class="table table-hover">
      <thead>
        <!-- topo da tabela -->
        <tr>
          <th scope="col">QUESTÃO</th>
          <th scope="col">GABARITO</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>D</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>A</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>E</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>A</td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td>C</td>
        </tr>
        <tr>
          <th scope="row">6</th>
          <td>B</td>
        </tr>
        <tr>
          <th scope="row">7</th>
          <td>B</td>
        </tr>
        <tr>
          <th scope="row">8</th>
          <td>E</td>
        </tr>
        <tr>
          <th scope="row">9</th>
          <td>B</td>
        </tr>
        <tr>
          <th scope="row">10</th>
          <td>A</td>
        </tr>
        <tr>
          <th scope="row">11</th>
          <td>B</td>
        </tr>
        <tr>
          <th scope="row">12</th>
          <td>B</td>
        </tr>
        <tr>
          <th scope="row">13</th>
          <td>E</td>
        </tr>
        <tr>
          <th scope="row">14</th>
          <td>C</td>
        </tr>
        <tr>
          <th scope="row">15</th>
          <td>B</td>
        </tr>
        <tr>
          <th scope="row">16</th>
          <td>B</td>
        </tr>
        <tr>
          <th scope="row">17</th>
          <td>E</td>
        </tr>
        <tr>
          <th scope="row">18</th>
          <td>C</td>
        </tr>
        <tr>
          <th scope="row">19</th>
          <td>B</td>
        </tr>
        <tr>
          <th scope="row">20</th>
          <td>A</td>
        </tr>
        <tr>
          <th scope="row">21</th>
          <td>C</td>
        </tr>
        <tr>
          <th scope="row">22</th>
          <td>D</td>
        </tr>
        <tr>
          <th scope="row">23</th>
          <td>E</td>
        </tr>
        <tr>
          <th scope="row">24</th>
          <td>E</td>
        </tr>
        <tr>
          <th scope="row">25</th>
          <td>D</td>
        </tr>
        <tr>
          <th scope="row">26</th>
          <td>C</td>
        </tr>
        <tr>
          <th scope="row">27</th>
          <td>D</td>
        </tr>
        <tr>
          <th scope="row">28</th>
          <td>C</td>
        </tr>
        <tr>
          <th scope="row">29</th>
          <td>A</td>
        </tr>
        <tr>
          <th scope="row">30</th>
          <td>A</td>
        </tr>
        <tr>
          <th scope="row">31</th>
          <td>C</td>
        </tr>
        <tr>
          <th scope="row">32</th>
          <td>C</td>
        </tr>
        <tr>
          <th scope="row">33</th>
          <td>D</td>
        </tr>
        <tr>
          <th scope="row">34</th>
          <td>A</td>
        </tr>
        <tr>
          <th scope="row">35</th>
          <td>E</td>
        </tr>
      </tbody>
    </table>


    <hr>

    <a class="btn btn-primary" type="submit" href="index.html">Página Inicial</a>

    <a class="btn btn-primary" type="submit" href="Q1a.html">Iniciar Simulado</a>

    <footer class="text-center">
      <!-- A tag HTML footer é um elemento HTML5 que define um rodapé 
          que geralmente contém informações de copyright ou autor no documento HTML. -->
      <hr />
      <br />
      <p>
        <em>Fonte: As questões desse simulado foram obtidas na prova de ADS 2011
          disponibilizada no site do INEP.</em>
      </p>
      <p>
        <i>
          >Mais informações sobre o Enade, consultar o site no link:
          <a target="_blank" href="http://enade.inep.gov.br/enade/#!/index">
            Enade Inep
          </a>
        </i>
      </p>
      <p>
        <a href="http://www.fateccarapicuiba.edu.br/" target="blank"><img src="img\Fatec.png" alt="Logo da Fatec" /></a>

        <a href="https://www.cps.sp.gov.br/" target="blank">
          <img src="img\cropped-logo-cps.png" alt="Logo da CPS" width="93" height="58" /></a>
      </p>
    </footer>
    <script>

      function abrir(URL) {
        window.open(URL, 'Pop-up', 'width=600, height=400, top=10, left=100, scrollbars=no, status=no, toolbar=no, location=no, menubar=no, resizable=no, fullscreen=no')
      };

    </script>

  </div>
</body>

</html>