<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="imagem/png" href="{{ url_for('static', filename='img/brazil.png') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home_enade.css') }}">
    <title>Home - Enade</title>
</head>

<body>
    <header>
        <img id="logo_inep" src="{{ url_for('static', filename='img/inep.logo.png') }}" alt="Logo Inep" draggable="false">
        <img id="logo_enade" src="{{ url_for('static', filename='img/logo-enade2.png') }} " alt="Logo Enade" draggable="false">
    </header>

    <div id="logo_enade_completo">
        <img id="logo_enade_completo" src=" {{ url_for('static', filename='img/logo-enade-completo.png') }} " alt="Logo Enade" draggable="false">
    </div>

    <div class="container-simulado">
        <h2>SIMULADO ENADE - Análise e Desenvolvimento de Sistemas</h2>
        <a href="{{ url_for('instrucoes') }}"><button class="button-simulado">INICIAR SIMULADO</button></a>
        <a href="{{ url_for('login') }}"><button class="button-simulado">LOGIN</button></a>
    </div>

    <div id=explicacao_enade>
        <h1>Você sabe o que é o ENADE?</h1>
        <p class="paragrafos">"O Exame Nacional de Desempenho dos Estudantes (Enade) avalia o rendimento dos concluintes
            dos cursos de
            graduação em relação aos conteúdos programáticos previstos nas diretrizes curriculares dos cursos,o
            desenvolvimento de competências e habilidades necessárias ao aprofundamento da formação geral e
            profissional, e o nível de atualização dos estudantes com relação à realidade brasileira e mundial.
        </p>

        <p class="paragrafos">Aplicado pelo Inep desde 2004, o Enade integra o Sistema Nacional de Avaliação da Educação
            Superior (Sinaes),
            composto também pela Avaliação de cursos de graduação e pela Avaliação institucional. Juntos eles formam o
            tripé avaliativo que permite conhecer a qualidade dos cursos e instituições de educação superior
            brasileiras. Os resultados do Enade, aliados às respostas do Questionário do Estudante, são insumos para o
            cálculo dos Indicadores de Qualidade da Educação Superior.
        </p>

        <p class="paragrafos">A inscrição é obrigatória para estudantes ingressantes e concluintes habilitados de cursos
            de bacharelado e
            superiores de tecnologia vinculados às áreas de avaliação da edição. A situação de regularidade do estudante
            é registrada no histórico escolar.
        </p>

        <p class="paragrafos">O Ciclo Avaliativo do Enade determina as áreas de avaliação e os cursos a elas vinculados.
            As áreas de
            conhecimento para os cursos de bacharelado e licenciatura derivam da tabela de áreas do conhecimento
            divulgada pelo Conselho Nacional de Desenvolvimento Científico e Tecnológico (CNPq). Já os eixos
            tecnológicos são baseados no Catálogo Nacional de Cursos Superiores de Tecnologia (CNCST), do Ministério da
            Educação."
            <p class="p-fonte">Fonte: "https://www.gov.br/inep/pt-br/areas-de-atuacao/avaliacao-e-exames-educacionais/enade".</p>
        </p>
    </div>
    <section>
        <h2>Confira a prova do ENADE</h2>
        <div class="div_links">
            <p class="paragrafos1">Prova de Tecnologia Análise e Desenvolvimento de Sistemas: <a
                    href="https://download.inep.gov.br/educacao_superior/enade/provas/2014/40_tecnologia_analise_desenv_sistemas.pdf"
                    target="blank"> Clique aqui </a><br></p>
            <p class="paragrafos1">Gabarito da prova de Tecnologia Análise e Desenvolvimento de Sistemas: <a
                    href="https://download.inep.gov.br/educacao_superior/enade/gabaritos/2014/40_gab_tecnologia_analise_desenv_sistemas.pdf"
                    target="blank">Clique aqui</a><br></p>
        </div>
    </section>
    <footer>
                <p>Estas informações foram obtidas através das provas do ENADE divulgadas no site do Inep mais informações consultar: <a href="https://www.gov.br/inep/pt-br/areas-de-atuacao/avaliacao-e-exames-educacionais/enade" target="blank">SITE do INEP</a></p><br>
                <p><a href="http://www.fateccarapicuiba.edu.br/" target="blank">FATEC CARAPICUIBA | </a> <a href="http://www.fateccarapicuiba.edu.br/analise-e-desenvolvimento-de-sistemas/" target="blank">Tecnologia Análise e Desenvolvimento Sistemas</a></p><br>
    </footer>
</body>

</html>