<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="imagem/png" href="img/brazil.png" />
    <link rel="stylesheet" href="css/instrucoes.css">
    <title>Instruções</title>
</head>
<body>
    <div class="container">
        <h1 id="titulo">INSTRUÇÕES</h1>
        <p>Olá! Abaixo seguem as instruções do funcionamento do Quiz, após a leitura, você pode clicar no botão <b>INICIAR SIMULADO</b> abaixo, que te levará a página da prova.</p>

        <p>O simulado consiste em 35 questões objetivas, com 5 opções de resposta, de A a E.</p>

        <p>Em cima da questão você poderá visualizar uma barra de progresso quantos % da prova foram concluidos.</p>
    
        <p>Nas questões primeiramente você seleciona a opção que acredita estar correta e clique no botão <b>CORRIGIR</b>, após isso aparecerá um pop-up te informando se a opção escolhida está certa, ou errada, e qual a resposta correta.</p>

        <p>Em seguida, você deve clicar no botão <b>PRÓXIMA QUESTÃO</b> ao final da página e você será redirecionado para a próxima questão.</p>
        <img id="teste" src="img/pop_up.png" alt="POP-UP">

        <p>Todas as respostas objetivas serão contabilizadas, assim que você clicar no botão <b>FINALIZAR</b>. E será mostrado a quantidade de acertos e erros. Obs.: Caso tenha alguma questão em branco, a mesma será contabilzada como ERRADA.</p>

        <h2>BOA SORTE!</h2>

        <div class="container-simulado">
            <a href="Q1a.html"><button class="button-simulado">INICIAR SIMULADO</button></a>
        </div>
    </div>
    <footer>
        <p>Estas informações foram obtidas através das provas do ENADE divulgadas no site do Inep mais informações consultar: <b><a href="https://www.gov.br/inep/pt-br/areas-de-atuacao/avaliacao-e-exames-educacionais/enade" target="blank">SITE do INEP</a></b></p><br>
        <p><b><a href="http://www.fateccarapicuiba.edu.br/" target="blank">FATEC CARAPICUIBA | </a></b> <b><a href="http://www.fateccarapicuiba.edu.br/analise-e-desenvolvimento-de-sistemas/" target="blank">Tecnologia Análise e Desenvolvimento Sistemas</a></b></p><br>
    </footer>
</body>
</html>