<!DOCTYPE html>
<!-- A tag DOCTYPE é a primeira linha do documento HTML. 
Ele informa ao navegador qual versão de HTML o documento está escrito, para que o navegador saiba o que esperar. -->
<html lang="PT-BR">
<!-- O atributo HTML lang é usado para identificar o idioma do conteúdo do texto que será exibido pelo navegador -->

<head>
    <!-- head é a parte que não é exibida no navegador da Web quando a página é carregada. 
    Ele contém informações como a página <title>, links para CSS (se você escolher estilizar seu conteúdo HTML com CSS),
       e outros metadados (dados sobre o HTML, como o autor, 
       e palavras-chave importantes que descreva o documento.) -->
    <meta charset="UTF-8">
    <!-- Este atributo declara a codificação de caracteres do documento. 
    Se o atributo estiver presente, seu valor deve ser uma correspondência ASCII sem distinção 
    entre maiúsculas e minúsculas para a string "utf-8", porque UTF-8 é a única codificação válida para documentos HTML5. -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- links do logo do enade -->
    <link rel="icon" type="imagem/png" href="img/logoEnade.png" />
    <!-- links para CSS (estilização seu conteúdo HTML com CSS) -->
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="js/funçoes.js"> </script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Questão 17</title>
</head>

<body class="fundo1" onchange="salvarFormulario('q17')" onload="autofill('q17')">
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
            aria-valuemin="0" aria-valuemax="100" style="width: 49%">49%</div>
    </div>
    <div class="container">
        <div class="text-center">
            <h1 class="font-weight-bold corEnade">Site Simulado ENADE</h1>
            <h3>TEMA: Análise e Desenvolvimento de Sistemas - 2011</h3>
        </div>
        <br><br>
        <h4>QUESTÃO 17</h4>
        <p>
            Os processos de negócio aumentam o entendimento do “o
            que precisa ser feito” e do “como precisa ser feito” dentro
            de uma organização.
        </p>

        <i>
            <p class="text-right">
                (BALDAM, R. 2009, ed.2 , p. 25)
            </p>
        </i>

        <p>
            Sabendo disso, a fase da gestão de processos de negócio
            que evita a estagnação dos processos organizacionais é
        </p>

        <p>
            <input id="alt1A" name="q17" value="A" type="radio">
            <label for="alt1A">
                a) a fase de gerenciamento.
            </label>
        </p>
        <p>
            <input id="alt1B" name="q17" value="B" type="radio">
            <label for="alt1B">
                b) a fase de planejamento.
            </label>
        </p>
        <p>
            <input id="alt1C" name="q17" value="C" type="radio">
            <label for="alt1C">
                c) a fase de monitoração.
            </label>
        </p>
        <p>
            <input id="alt1D" name="q17" value="D" type="radio">
            <label for="alt1D">
                d) a fase de modelagem.
            </label>
        </p>
        <p>
            <input id="correta" name="q17" value="E" type="radio">
            <label for="correta">
                e) a fase de otimização.
            </label>
        </p>

        <input type="submit" onclick="correçao17()" value="Corrigir" class="btn btn-primary" />
        <hr>

        <div class="row">
            <a class="col-auto mr-auto" href="resultado.html"> Finalizar Simulado</a>

            <a class="col-auto" href="Q18a.html"> Próxima Questão </a>
        </div>

        <footer class="text-center">
            <hr />
            <br />
            <p>
                <em>Fonte: As questões desse simulado foram obtidas na prova de ADS
                    2011 disponibilizada no site do INEP.</em>
            </p>
            <p>
                <i>Mais informações sobre o Enade, consultar o site no link:
                    <a target="_blank" href="http://enade.inep.gov.br/enade/#!/index">
                        Enade Inep
                    </a>
                </i>
            </p>
            <p>
                <a href="http://www.fateccarapicuiba.edu.br/" target="blank"><img src="img\Fatec.png"
                        alt="Logo da Fatec" /></a>

                <a href="https://www.cps.sp.gov.br/" target="blank">
                    <img src="img\cropped-logo-cps.png" alt="Logo da CPS" width="93" height="58" /></a>
            </p>
        </footer>
    </div>
</body>
<script>
    function getCorreta() {

        return document.getElementById("correta").value //validar se é correta pelo id
    }

    function getCheckado() { //validar se estar checkado ou não e atribuir o valor no seccionstorage

        input = document.querySelectorAll('input')

        console.log(input)

        for (c = 0; c < input.length; c++) {

            if (input[c].checked == true) {

                return input[c].value

                break
            }
        }
    }

    var entrada;
    var correta;

    function correçao17() { //correção da questão 17
        if (entrada != undefined) {

            entrada = getCheckado()
            correta = getCorreta()

            if (entrada == correta) {
                Swal.fire({
                    icon: 'success',
                    title: 'Boa!!',
                    text: `Parabéns! A alternativa correta realmente é a letra "e) a fase de otimização."`
                }).then(function () {
                    window.location = 'Q18a.html';
                }); //caso esteja correta retorna sucesso
                setInterval(() => {
                    window.open('Q18a.html', '_self', false)
                }, 60000); //timer de contagem para próxima questão
            }

            else {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: `Que pena, voce errou! A alternativa correta é a letra: "e) a fase de otimização."`
                }).then(function () {
                    window.location = 'Q18a.html';
                });
                setInterval(() => {
                    window.open('Q18a.html', '_self', false)
                }, 60000); //caso esteja errado retorna erro e passa para próxima página
            }
        }
        else {
            inputVazio(); //caso input esteja vazio ele retorna função sinalizando o erro
        }
    }
</script>

</html>