{% extends 'base.html' %}
    
    {% block titulo %}
    <title>Questão 2</title>
    {% endblock %}
{% block body %}
<body class="fundo1" onchange="salvarFormulario('q2')" onload="autofill('q2')">
{% endblock %}   
        {% block progressbar %}
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
            aria-valuemin="0" aria-valuemax="100" style="width: 3%">6%</div>
        {% endblock %}
        {% block questao%}
        <h4>QUESTÃO 2</h4>
        {% endblock %}

        {% block proximaQuestao %}
            <a class="col-auto" href="{{ url_for('questao', id_questao = 3) }}"> Próxima Questão </a>
        {% endblock %}