<!DOCTYPE html>
<!-- A tag DOCTYPE é a primeira linha do documento HTML. 
Ele informa ao navegador qual versão de HTML o documento está escrito, para que o navegador saiba o que esperar. -->
<html lang="PT-BR">
<!-- O atributo HTML lang é usado para identificar o idioma do conteúdo do texto que será exibido pelo navegador -->

<head>
    <!-- head é a parte que não é exibida no navegador da Web quando a página é carregada. 
    Ele contém informações como a página <title>, links para CSS (se você escolher estilizar seu conteúdo HTML com CSS),
       e outros metadados (dados sobre o HTML, como o autor, 
       e palavras-chave importantes que descreva o documento.) -->
    <meta charset="UTF-8">
    <!-- Este atributo declara a codificação de caracteres do documento. 
    Se o atributo estiver presente, seu valor deve ser uma correspondência ASCII sem distinção 
    entre maiúsculas e minúsculas para a string "utf-8", porque UTF-8 é a única codificação válida para documentos HTML5. -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- links do logo do enade -->
    <link rel="icon" type="imagem/png" href="img/logoEnade.png" />
    <!-- links para CSS (estilização seu conteúdo HTML com CSS) -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <!-- chamada do sweetalert -->
    <link rel="stylesheet" href="css/style.css">
    <!-- chamada do css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- chamada do funcoes javascript -->
    <script src="js/funçoes.js"> </script>
    <title>Questão 32</title>
</head>

<body class="fundo1" onchange="salvarFormulario('q32')" onload="autofill('q32')">
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
            aria-valuemin="0" aria-valuemax="100" style="width: 92%">92%</div>
    </div>
    <div class="container">
        <div class="text-center">
            <h1 class="font-weight-bold corEnade">Site Simulado ENADE</h1>
            <h3>TEMA: Análise e Desenvolvimento de Sistemas - 2011</h3>
        </div>
        <br><br>

        <h4>QUESTÃO 32</h4>
        <p>
            O MPS.BR (Melhoria de Processos do Software Brasileiro)
            é, ao mesmo tempo, um movimento para melhoria da
            qualidade e um modelo de qualidade de processo.
        </p>
        <i>
            <p class="text-right">
                Guia MPS.BR (SOFTEX)
        </i></p>
        <p>
            Com relação às suas características, o MPS.BR
        </p>
        <p>
            <input id="alt1A" name="q32" value="A" type="radio">
            <label for="alt1A">
                a) possui 5 níveis de maturidade.
            </label>
        </p>
        <p>
            <input id="alt1B" name="q32" value="B" type="radio">
            <label for="alt1B">
                b) possui representação contínua e por estágios.
            </label>
        </p>
        <p>
            <input id="correta" name="q32" value="C" type="radio">
            <label for="correta">
                c) está em conformidade com as normas ISO/IEC 12207
                e 15504.
            </label>
        </p>
        <p>
            <input id="alt1D" name="q32" value="D" type="radio">
            <label for="alt1D">
                d) considera 3 dimensões: pessoas, ferramentas e
                procedimentos.
            </label>
        </p>
        <p>
            <input id="alt1E" name="q32" value="E" type="radio">
            <label for="alt1E">
                e) divide-se em 3 modelos: desenvolvimento, aquisição
                e serviços.
            </label>
        </p>

        <input type="submit" onclick="correçao32()" value="Corrigir" class="btn btn-primary" />

        <hr>

        <div class="row">
            <a class="col-auto mr-auto" href="resultado.html"> Finalizar Simulado</a>

            <a class="col-auto" href="Q33a.html"> Próxima Questão </a>
        </div>

        <footer class="text-center">
            <hr />
            <br />
            <p>
                <em>Fonte: As questões desse simulado foram obtidas na prova de ADS
                    2011 disponibilizada no site do INEP.</em>
            </p>
            <p>
                <i>Mais informações sobre o Enade, consultar o site no link:
                    <a target="_blank" href="http://enade.inep.gov.br/enade/#!/index">
                        Enade Inep
                    </a>
                </i>
            </p>
            <p>
                <a href="http://www.fateccarapicuiba.edu.br/" target="blank"><img src="img\Fatec.png"
                        alt="Logo da Fatec" /></a>

                <a href="https://www.cps.sp.gov.br/" target="blank">
                    <img src="img\cropped-logo-cps.png" alt="Logo da CPS" width="93" height="58" /></a>
            </p>
        </footer>
    </div>
</body>
<script>
    function getCorreta() {

        return document.getElementById("correta").value //validar se é correta pelo id
    }

    function getCheckado() { //validar se estar checkado ou não e atribuir o valor no seccionstorage

        input = document.querySelectorAll('input')

        console.log(input)

        for (c = 0; c < input.length; c++) {

            if (input[c].checked == true) {

                return input[c].value

                break
            }
        }
    }

    var entrada;
    var correta;

    function correçao32() { //correção da questão 32
        if (entrada != undefined) {

            entrada = getCheckado()
            correta = getCorreta()

            if (entrada == correta) {
                Swal.fire({
                    icon: 'success',
                    title: 'Boa!!',
                    text: `Parabéns! A alternativa correta realmente é a letra "c) está em conformidade com as normas ISO/IEC 12207
                e 15504."`
                }).then(function () {
                    window.location = 'Q33a.html';
                }); //caso esteja correta retorna sucesso
                setInterval(() => {
                    window.open('Q33a.html', '_self', false)
                }, 60000); //timer de contagem para próxima questão
            }

            else {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: `Que pena, voce errou! A alternativa correta é a letra: "c) está em conformidade com as normas ISO/IEC 12207
                e 15504."`
                }).then(function () {
                    window.location = 'Q33a.html';
                });
                setInterval(() => {
                    window.open('Q33a.html', '_self', false)
                }, 60000); //caso esteja errado retorna erro e passa para próxima página
            }
        }
        else {
            inputVazio(); //caso input esteja vazio ele retorna função sinalizando o erro
        }
    }
</script>

</html>