{% extends 'base.html' %}
    
    {% block titulo %}
    <title>Questão 4</title>
    {% endblock %}
{% block body %}
<body class="fundo1" onchange="salvarFormulario('q4')" onload="autofill('q4')">
{% endblock %}   
        {% block progressbar %}
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
            aria-valuemin="0" aria-valuemax="100" style="width: 3%">12%</div>
        {% endblock %}
        {% block questao%}
        <h4>QUESTÃO 4</h4>
        {% endblock %}

        {% block proximaQuestao %}
            <a class="col-auto" href="{{ url_for('questao', id_questao = 5) }}"> Próxima Questão </a>
        {% endblock %}